* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f7fb;
  color: #293264;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h1 {
  margin: 0;
}

.middle-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  max-height: 550px;
  max-width: 550px;
}

.middle-section > p {
  text-align: center;
  width: 320px;
  margin-bottom: 1.5em;
}

.middle-section > button {
  width: 193px;
  height: 52px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}

.quiz-section {
  padding: 0px 75px;
  max-height: 550px;
  /* border: 1px solid red; */
}

.quiz-box > h2 {
  font-size: 16px;
}

.quiz-box > .answer-btn {
  height: 20px;
  font-size: 12px;
  font-family: "Karla", sans-serif;
  color: #293264;
  border: 1px solid #4d5b9e;
  border-radius: 8px;
  background-color: unset;
  margin-right: 1em;
  margin-bottom: 1em;
  cursor: pointer;
}

.quiz-box > .answer-btn.selected {
  background-color: #d6dbf5;
  border: none;
}

.quiz-box > .answer-btn.correct {
  background-color: #94d7a2;
  border: none;
}

.quiz-box > .answer-btn.wrong {
  background-color: #f8bcbc;
  opacity: 50%;
  border: none;
}

.quiz-box > .answer-btn.disabled {
  opacity: 50%;
  cursor: not-allowed;
}

.grey-line {
  border: 0.7px solid #dbdef0;
  width: 100%;
  margin-top: 0.5em;
}

.check-answers {
  width: 120px;
  height: 35px;
  font-size: 10px;
  background-color: #4d5b9e;
  color: #f5f7fb;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  margin-block: 1.5em;
}

.results-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.score {
  margin-right: 10px;
  font-weight: 700;
}
